<%def name="tab(project, route_name)">
  <%
    path = request.route_path(route_name, id=project.id)
  %>
  % if path == request.path:
    <li class="active"><a href="${path}">${caller.body()}</a></li>
  % else:
    <li><a href="${path}">${caller.body()}</a></li>
  % endif
</%def>


<%def name="project_header(project)">
  <section class="section-admin-project-tabs">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          % if project.published:
            <a class="pull-right" href="${request.node_path(project)}">View Public Page</a>
          % endif

          <h1 class="page-header">Project ${project.id} <small>${project.name}</small></h1>

          <ul class="nav nav-tabs">
            <%self:tab project="${project}" route_name="admin:project">Content</%self:tab>
            <%self:tab project="${project}" route_name="admin:project:products">Products</%self:tab>
            <%self:tab project="${project}" route_name="admin:project:owners">Owners</%self:tab>
            <%self:tab project="${project}" route_name="admin:project:updates">Updates</%self:tab>
            <%self:tab project="${project}" route_name="admin:project:emails">Emails</%self:tab>
            <%self:tab project="${project}" route_name="admin:project:reports">Reports</%self:tab>
            <%self:tab project="${project}" route_name="admin:project:ship">Ship</%self:tab>
          </ul>

        </div>
      </div>
    </div>
  </section>
</%def>
