<%namespace name="forms" file="/common/forms.html"/>


<%def name="aliases(renderer, obj)">
  ${forms.ltext(renderer, 'override_path', obj.override_path, label='URL', placeholder=obj.generate_path(), hint='Leave blank to use recommended URL. Changes will leave behind a redirect from the old URL to the new one.', prefix='crowdsupply.com/')}
</%def>


<%def name="markdown_hint()">
  Use valid Markdown. See <a href="${request.route_path('admin:help:markdown')}">Markdown tips and recipes</a> for help.
</%def>


<%def name="comments(renderer, obj)">
  <legend>Admin Comments</legend>
  % for comment in obj.comments:
    <div class="row">
      <div class="col-sm-3">
        <strong>${comment.created_by.name if comment.created_by_id != 1 else 'System Message'}</strong>
        <p class="comment-time">${h.format_datetime(request, comment.created_time)}</p>
        <p class="comment-time-ago">${h.time_ago_in_words(comment.created_time, granularity='hour')}</p>
      </div>
      <div class="col-sm-9">
        <p>
          % for line in comment.body.split('\n'):
            ${line}<br>
          % endfor
        </p>
      </div>
    </div>
  % endfor
  ${forms.ltextarea(renderer, 'new_comment')}
</%def>


<%def name="image_hint()">
  Be sure that you have used the correct image metadata tags and filled in as many as appropriate. See <a href="${request.route_path('admin:help:image-tags')}">image tag usage and tips</a> for help.
</%def>


<%def name="images(renderer, obj)">
  <%forms:element label="Images">
    <div class="table-responsive">
      <table class="table table-images">
        <tbody>
          % for im in obj.image_metas:
            <tr>
              <td><i class="fa fa-minus"></i></td>
              <td>${request.image_tag(im.name, im.original_ext, 'admin-tiny')}</td>
              <td>
                ${im.name}.${im.original_ext}<br>
                ${im.width} x ${im.height}<br>
                <a href="${request.image_url(im.name, im.original_ext, None)}">View Original</a>
              </td>
              <td>
                ##${renderer.text('images-%d.title' % im.id, im.title, class_='form-control', placeholder='Title')}
                ##${renderer.text('images-%d.alt' % im.id, im.alt, class_='form-control', placeholder='Alt')}
              </td>
            </tr>
          % endfor
        </tbody>
        <tfoot>
          <tr>
            <td>
              <i class="fa fa-plus"></i>
            </td>
            <td colspan="3">
              Add new images
            </td>
          </tr>
        </tfoot>
      </table>
      ${forms.hint(self.image_hint())}
    </div>
  </%forms:element>
</%def>
