<%inherit file="base.html"/>


<%self:container>
  <div class="content">
    <table>
      <tr>
        <td>
          There was a request to change your Crowd Supply password.
          <br /><br />
          If you made this request, please click the button below to update your password and login. If you did not, just ignore this email.
        </td>
      </tr>
      <tr>
        <td class="cta-callout">
          <a class="btn" href="${link}">Change Password</a>
        </td>
      </tr>
      <tr>
        <td>
          As always, feel free to contact us for assistance or concerns.
          <br /><br />
          Thank You,
          <br />
          Crowd Supply Support
        </td>
      </tr>
    </table>
  </div>
</%self:container>
