body {
    font-family: @cs-sans-font-family;
}
h1 {
    font-family: @cs-serif-font-family;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: @cs-teal;
    &:hover {
        color: @cs-dark-teal;
    }
}

.img-avatar {
    border-radius: 4px;
}

.section-admin-bar {
    background-color: @cs-teal;

    a {
        color: @cs-white;
        &:hover {
            color: @cs-white;
        }
    }
}


.list-sidebar {
    li {
        background-color: @cs-black;
        font-weight: bold;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        border-top: 1px solid #8a959c;

        a {
            display: block;
            padding: 3px 6px;
            color: @cs-white;

            &:hover {
                text-decoration: none;
                background-color: lighten(@cs-dark-grey, 10%);
            }
        }

        &.selected, &.active {
            background-color: @cs-teal;
        }
    }
}


