body {
    font-family: @cs-sans-font-family;
}
h1 {
    font-family: @cs-serif-font-family;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: @cs-green;
}

.btn-primary {
    .button-variant(@cs-white; @cs-green; @cs-green);
}
