body {
    font-family: @cs-sans-font-family;
}
h1 {
    font-family: @cs-serif-font-family;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: @cs-teal;
}

.btn-primary {
    .button-variant(@cs-white; @cs-teal; @cs-teal);
}

.img-avatar {
    border-radius: 4px;
}

.section-admin-bar {
    background-color: @cs-teal;

    a {
        color: @cs-white;
    }
}
