<%inherit file="base.html"/>

<%def name="title()">About Us</%def>


<section class="section-about">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-tagline">
          <strong>Crowd Supply</strong> is how engineers and designers create great products on their own terms.
        </h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center page-header">Mission</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>We started Crowd Supply based on a single guiding principle: to be the product development platform we'd want to use for our own projects. As engineers and designers, we know the challenges of going from idea to reality, and all the important details in between. We built Crowd Supply from the ground up to handle as many of those details as possible so you can focus on your vision. <a href="/launch">Find out how Crowd Supply can help you.</a>
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Team</h1>
      </div>
    </div>
    <div class="row row-bio">
      <div class="col-md-2 col-md-offset-2">
        <img class="img-avatar" src="/_teal/images/about/josh.png" alt="" title="Josh Lifton">
      </div>
      <div class="col-md-6">
        <h5>Josh Lifton</h5>
        <p>Josh received his doctorate from the MIT Media Lab and holds a BA in physics and mathematics from Swarthmore College, which is to say he's devoted a significant amount of his time learning how to make things that blink. As head of Crowd Supply's project efforts, he is helping others do the same. Prior to Crowd Supply, Josh worked in a variety of technology settings, from instrumenting thousands of audience members with custom wearable computers for a Cirque du Soleil performance to, most recently, serving as head of engineering at Puppet Labs.</p>
      </div>
    </div>
    <div class="row row-bio">
      <div class="col-md-2 col-md-offset-2">
        <img class="img-avatar" src="/_teal/images/about/scott.png" alt="" title="Scott Torborg">
      </div>
      <div class="col-md-6">
        <h5>Scott Torborg</h5>
        <p>Graduating from MIT in 2007, Scott dabbled in hardware engineering for several years, before falling into the world of e-commerce as the CEO of Cart Logic, Inc. Achieving sporadic internet notoriety through projects such as the <a href="http://www.scotttorborg.com/disco-dance-floor">MIT Disco Dance Floor</a> and <a href="http://tacocopter.com">TacoCopter</a>, he enjoys pyrotechnics, baking cakes, and long walks on the beach.</p>
      </div>
    </div>
    <div class="row row-bio">
      <div class="col-md-2 col-md-offset-2">
        <img class="img-avatar" src="/_teal/images/about/lou.png" alt="" title="Lou Doctor">
      </div>
      <div class="col-md-6">
        <h5>Lou Doctor</h5>
        <p>Lou has a BSEE from Rensselaer Polytechnic Institute and over thirty years of experience as an entrepreneur, senior executive, and investment banker. Over the span of his career, he has acted as the financial advisor on over 25 M&amp;A transactions totaling over $500M and founded ten technology and e-commerce companies that will do combined total of over $40M in annual sales this year. In his spare time, he enjoys cycling and complaining about politics.</p>
      </div>
    </div>
    <div class="row row-bio">
      <div class="col-md-2 col-md-offset-2">
        <img class="img-avatar" src="/_teal/images/about/eric.png" alt="" title="Eric Strom">
      </div>
      <div class="col-md-6">
        <h5>Eric Strom</h5>
        <p>Eric attended Washington State University where in 2008 he received his B.S. in International Business. The subsequent four years he worked in financial services in London and Portland, OR. Eric's interest in new products and technologies brought him to Crowd Supply, where he is assisting in product curation and business development. In his spare time he can be found with headphones on, or in the great outdoors enjoying all the Pacific Northwest has to offer.</p>
      </div>
    </div>
  </div>
</section>


<section class="section-about-map">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <h3>We are in Portland, Oregon.</h3>
        <h3>We also like to hang out with our neighbors.</h3>
      </div>
      <div class="col-md-5">
        <img src="/_teal/images/about/map.png" alt="">
      </div>
    </div>
  </div>
</section>
