<%inherit file="base.html"/>


<%def name="title()">${article.name}</%def>


% if request.user and request.user.has_permission('admin'):
  <section class="section-admin-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p><a href="${request.route_path('admin:article', id=article.id)}">Admin Edit Page</a></p>
        </div>
      </div>
    </div>
  </section>
% endif


<section class="article">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        % if article.show_heading:
          <h1 class="text-center">${article.name}</h1>
        % endif

        ${request.render_content(article, article.body)}
      </div>
    </div>

    % if related_articles:
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center">Other Popular Articles</h1>
          <ul>
            % for other in related_articles:
              <li>
                <a href="${request.node_path(other)}">${other.name}</a>
              </li>
            % endfor
          </ul>
        </div>
      </div>
    % endif

  </div>
</section>
