<%inherit file="project_base.html"/>


<%def name="title()">Backers of ${project.name}</%def>


<div class="project-block">
  <h2>Backers</h2>
  % if backers:
  <ul>
    % for backer in backers:
    <li>
      <img class="avatar" src="${h.gravatar_url(backer.email, size=64, default='mm')}" alt="">
      <p>${h.abbreviate_name(backer.name)}</p>
      % if backer.location:
      <p><i class="fa fa-map-marker"></i> ${backer.location}</p>
      % endif
    </li>
    % endfor
  </ul>
  % else:
  <p>Once a certain number of people have backed this project, a list of backers will be shown here.</p>
  % endif
</div>
