<%inherit file="base.html"/>

<%namespace name="tiles" file="common/tiles.html"/>


<%def name="title()">
  % if page_title:
    ${page_title}
  % else:
    Browse Projects
  % endif
</%def>


<%def name="filter_target(url)">
  <li class="${'selected' if request.url == url else ''}">
    <a href="${url}">
      ${caller.body()}
    </a>
  </li>
</%def>


<section class="section-browse">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">${page_title}</h1>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-2 browse-filters">
        <h3>Browse By Stage</h3>
        <ul class="list-unstyled list-sidebar">
          <%self:filter_target url="${request.route_url('prelaunch')}">Pre-launch</%self:filter_target>
          <%self:filter_target url="${request.route_url('crowdfunding')}">Crowdfunding</%self:filter_target>
          <%self:filter_target url="${request.route_url('available')}">Funded &amp; Available</%self:filter_target>
          <%self:filter_target url="${request.route_url('archive')}">Archive</%self:filter_target>
        </ul>
        <h3>Browse By Tag</h3>
        <ul class="list-unstyled list-sidebar">
          % for filter_tag in browse_tags:
            <%self:filter_target url="${request.node_path(filter_tag)}">
              ${filter_tag.name}
            </%self:filter_target>
          % endfor
        </ul>
      </div>

      <div class="col-sm-8 col-md-10">
        % if request.matched_route.name == 'prelaunch':
          <p>Projects which have not launched yet may opt to appear for the sake of collecting interest. Although these projects are not yet open to pledges, you may submit your email address to be notified when they launch.</p>
          <hr>
        % endif


        % if feature_count:
          ${tiles.tile_row(projects[:feature_count])}
        % endif
        % for row in h.grouper(3, projects[feature_count:]):
          ${tiles.tile_row(row)}
        % endfor

        % if request.matched_route.name == 'crowdfunding':
          <p class="browse-more"><a href="/preorder">Browse successfull campaigns that are now accepting pre-orders »</a></p>
        % endif

      </div>

    </div>
  </div>
</section>
