<%inherit file="base.html"/>

<%namespace name="forms" file="common/forms.html"/>


<%def name="title()">Cart</%def>


<section class="section-cart">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">Cart</h1>

        ## XXX show items
        % for item in cart.items:
          <h3><a href="${request.node_path(item.product.project)}">${item.product.name}</a></h3>
          <p>${h.currency(item.price_each)}</p>
          <p>x ${item.qty_desired}</p>
          <p>${item.product.name}</p>
        % endfor

      </div>
    </div>
  </div>
</section>


<section class="section-checkout">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        ${renderer.begin(class_='form-horizontal')}

          ## XXX add fields

        ${renderer.end()}
      </div>
    </div>
  </div>
</section>
