<%inherit file="base.html"/>

<%namespace name="forms" file="common/forms.html" />

<%def name="title()">Contact Us</%def>

<section class="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Contact Us</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <p>You can contact us via email, phone or mail, or use this form. We will try to respond to emails or this form within 24 hours.</p>

        <h3>Email</h3>
        <p><a href="mailto:info@crowdsupply.com">info@crowdsupply.com</a></p>

        <h3>Phone</h3>
        <p>${request.registry.settings['address.phone']}</p>

        <h3>Mailing Address</h3>
        <p>
          ${request.registry.settings['address.address1']}<br>
          % if 'address.address2' in request.registry.settings:
            ${request.registry.settings['address.address2']}<br>
          % endif
          ${request.registry.settings['address.city']},
          ${request.registry.settings['address.state']}
          ${request.registry.settings['address.postal_code']}
        </p>

      </div>
      <div class="col-md-6 col-md-offset-1">
        ${self.contact_form()}
      </div>
    </div>
  </div>
</section>


<%def name="contact_form()">
  ${renderer.begin(id='contact-form', class_='form-horizontal form-wrapped')}
    ${forms.ltext(renderer, 'email', label='Your Email', maxlength=50, size='input-block-level')}
    ${forms.ltext(renderer, 'subject', size='input-block-level')}
    ${forms.ltextarea(renderer, 'message', label='Your Comments', rows=6, size='input-block-level')}
    <%forms:actions>
      <button type="submit" class="btn btn-primary">Submit</button>
    </%forms:actions>
  ${renderer.end()}
</%def>
