<%inherit file="base.html"/>


<%def name="title()">Creators</%def>


<section class="section-creators">
  <div class="container">
    % for row in h.grouper(3, creators):
      <div class="row">
        % for creator in row:
          <div class="col-md-4">
            <h3>
              <a href="${request.node_path(creator)}">
                ${creator.name}
              </a>
            </h3>
            <p>${creator.teaser}</p>
          </div>
        % endfor
      </div>
    % endfor
  </div>
</section>
