<%inherit file="base.html"/>


<%def name="title()">${creator.name}</%def>


% if request.user.has_permission('admin'):
  <section class="section-admin-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p><a href="${request.route_path('admin:creator', id=creator.id)}">Admin Edit Page</a></p>
        </div>
      </div>
    </div>
  </section>
% endif


<section class="section-creator">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>${creator.name}</h1>

        % for project in projects:
          <h3>
            <a href="${request.node_path(project)}">${project.name}</a>
          </h3>
        % endfor
      </div>
    </div>
  </div>
</section>
