<%inherit file="base.html"/>

<%namespace name="tiles" file="common/tiles.html"/>
<%namespace name="blocks" file="common/blocks.html"/>


<%def name="title()">${creator.name}</%def>


<%blocks:admin_bar>
  <p>
    <a href="${request.route_path('admin:creator', id=creator.id)}">
      Edit Creator ${creator.id} - ${creator.name}
    </a>
  </p>
</%blocks:admin_bar>


<section class="section-creator">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        ${creator.img(request, 'creator-profile')}
      </div>

      <div class="col-sm-9">
        <h4>${creator.name}</h4>
        <p class="creator-block-teaser">${creator.teaser}</p>
        <p class="creator-block-metadata">
          <i class="fa fa-map-marker"></i>&nbsp;${creator.location}
          % if creator.home_url:
            &nbsp;&middot;&nbsp;
            <a href="${creator.home_url}">${creator.display_url}</a>
          % endif
        </p>
      </div>
    </div>
  </div>
</section>


<section class="section-creator-projects">
  <div class="container">
    % for row in h.grouper(4, projects):
      ${tiles.tile_row(row)}
    % endfor
  </div>
</section>
