<%inherit file="base.html"/>


<%page cached="True" cache_key="index" cache_region="default"/>


<%namespace name="tiles" file="common/tiles.html"/>


<%def name="title()">A Store and Crowdfunding Platform for Physical Stuff</%def>


##<section class="section-hero">
##  <div class="hero-quote-overlay">
##    <h3>Our projects raise an average of $52,200, over triple that of Kickstarter.</h3>
##    <p><a href="/launch">Find out why.</a></p>
##    <p class="hidden-xs">Your next big idea starts here.</p>
##    <a class="btn btn-primary" href="/launch">Launch Your Project</a>
##  </div>
##</section>


<section class="section-hero-novena">
  <div class="container">
    <div class="hero-quote-novena">
      <h1>Launch alongside the best of open hardware</h1>
      <a href="/kosagi/novena">The Novena Open Laptop raised over $750,000</a>
    </div>
  </div>
</section>


% for title, rows in get_groups():
  <section class="section-${title.lower().replace(' ', '-')}">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">${title}</h1>
        </div>
      </div>

      % for row in rows:
        ${tiles.tile_row(row, cols=len(row))}
      % endfor

    </div>
  </section>
% endfor
