<%inherit file="base.html"/>


<%namespace name="forms" file="common/forms.html"/>


<%def name="title()">Launch A Project</%def>


<section class="section-launch">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-tagline">Where engineers and designers crowdfund awesome new products.</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <p><strong>Highest rate of successful funding</strong> (&gt; 2x Kickstarter products)</p>
        <p><strong>Highest average funding</strong> (&gt; 2x Kickstarter products)</p>
        <p><strong>Perfect delivery record</strong> (100% projects on track)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-tagline">
          You need the right tools to succeed.<br>
          Crowdfunding is one tool.<br>
          <strong>Crowd Supply is the entire toolkit.</strong>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <table class="table-features">
          <tr>
            <th></th>
            <th>Crowd Supply</th>
            <th>Everyone Else</th>
          </tr>
          <tr class="comparison-heading">
            <td>Crowdfunding</td>
            <td class="tick-box"><i class="fa fa-check"></i></td>
            <td class="tick-box"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="comparison-heading">
            <td>Campaign Strategy</td>
            <td class="tick-box"><i class="fa fa-check"></i></td>
            <td class="tick-box"><i class="fa fa-times"></i></td>
          </tr>
          <tr class="comparison-heading">
            <td>Marketing</td>
            <td class="tick-box"><i class="fa fa-check"></i></td>
            <td class="tick-box"><i class="fa fa-times"></i></td>
          </tr>
          <tr class="comparison-heading">
            <td>Seamless Post-Campaign Sales</td>
            <td class="tick-box"><i class="fa fa-check"></i></td>
            <td class="tick-box"><i class="fa fa-times"></i></td>
          </tr>
          <tr class="comparison-heading">
            <td>Fulfillment &amp; Logistics</td>
            <td class="tick-box"><i class="fa fa-check"></i></td>
            <td class="tick-box"><i class="fa fa-times"></i></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr>

        <div class="launch-icons">

          <a href="how-it-works">
            <div class="row">
              <div class="col-md-3">
                <img src="/_teal/images/launch/icons-retail.png" alt="">
              </div>
              <div class="col-md-9">
                <h5>How to Use Crowd Supply</h5>
                <p>Find out how Crowd Supply can help you at every stage of your project.</p>
              </div>
            </div>
          </a>

          <a href="funding">
            <div class="row">
              <div class="col-md-3">
                <img src="/_teal/images/launch/icons-cash.png">
              </div>
              <div class="col-md-9">
                <h5>Funding and Fees</h5>
                <p>We don't make money unless you make money. Understand how to raise funds and what fees are involved.</p>
              </div>
            </div>
          </a>

          <a href="logistics">
            <div class="row">
              <div class="col-md-3">
                <img src="/_teal/images/launch/icons-shipping.png" alt="">
              </div>
              <div class="col-md-9">
                <h5>Fulfillment and Logistics</h5>
                <p>From capturing orders to shipping out your product, Crowd Supply takes on the back-end logistics.</p>
              </div>
            </div>
          </a>

          <a href="providers">
            <div class="row">
              <div class="col-md-3">
                <img src="/_teal/images/launch/icons-support.png" alt="">
              </div>
              <div class="col-md-9">
                <h5>Service Providers Directory</h5>
                <p>
                  Browse our curated list of potential collaborators,
                  from machine shops to law firms.
                </p>
              </div>
            </div>
          </a>

          <a href="user-experience">
            <div class="row">
              <div class="col-md-3">
                <img src="/_teal/images/launch/icons-tailored.png" alt="">
              </div>
              <div class="col-md-9">
                <h5>Tailored User Experience</h5>
                <p>
                  Discover how we've refined the user experience to make
                  your campaign as successful as it can be.
                </p>
              </div>
            </div>
          </a>

          <a href="campaign-information">
            <div class="row">
              <div class="col-md-3">
                <img src="/_teal/images/launch/icons-fulfillment.png" alt="">
              </div>
              <div class="col-md-9">
                <h5>Campaign Checklist</h5>
                <p>
                  We'll work with you to create and refine your campaign
                  page. Here's everything that goes into it.
                </p>
              </div>
            </div>
          </a>
        </div>

        <a name="launch-form"></a>

        <h3 class="text-tagline"><strong>Ready to get started?</strong> Tell us about your project.</h3>

        ${renderer.begin(class_='form-horizontal form-wrapped')}
        <p>We'd love to hear about your project. Please get in touch with us by e-mailing <a href="mailto:support@crowdsupply.com?subject=Project Inquiry">support@crowdsupply.com</a>, call us at ${request.registry.settings['address.phone']}, or fill out the form below.</p>
          ${forms.ltext(renderer, 'email', label="Your E-mail Address", maxlength=255, size='input-block-level')}
          ${forms.ltext(renderer, 'name', label="Project Name", maxlength=255, size='input-block-level')}
          ${forms.ltextarea(renderer, 'description', label="Project Description", hint="Consider including a project overview, estimate of how much money you hope to raise, and details of how that money would be used.", rows=10, cols=40, size='input-block-level')}
          ${forms.ltext(renderer, 'goal', label='Funding Goal', prefix='$', size='input-block-level')}
          ${forms.ltextarea(renderer, 'allocation', label='Use of Funds', size='input-block-level', hint='Describe how the money you raise will be used.', rows=5)}
          ${forms.lselect(renderer, 'country', '', h.country_codes(), prompt='Select Country')}
          <%forms:actions>
            <button type="submit" class="btn btn-primary">Submit</button>
          </%forms:actions>
        ${renderer.end()}
      </div>
    </div>
  </div>
</section>
