<%inherit file="base.html"/>

<%namespace name="forms" file="common/forms.html"/>


<%def name="title()">Order ${order.id} Confirmation</%def>


% if show_registration_form:
  <section class="section-confirmation">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          ## XXX

        </div>
      </div>
    </div>
  </section>
% endif


<section class="section-order">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">Order Details</h1>

        ## XXX show items
      </div>
    </div>
  </div>
</section>
