<%inherit file="base.html"/>

<%namespace name="tiles" file="common/tiles.html"/>


<%def name="title()">${user.name}</%def>


<section class="section-profile">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        ${h.image_or_gravatar(request, user, 'large-avatar', default='mm', class_='img-avatar')}
      </div>
      <div class="col-md-10">
        <h3>${user.name}</h3>
        % if user.twitter_username:
          <p>
            <a href="https://twitter.com/${user.twitter_username}">
              <i class="fa fa-twitter"></i>
              ${user.twitter_username}
            </a>
          </p>
        % endif
        <p>Backed ${h.plural(len(projects_backed), 'project')}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <hr>
      </div>
    </div>

    % for row in h.grouper(4, projects_backed):
      ${tiles.tile_row(row, cols=4)}
    % endfor
  </div>
</section>
