<%inherit file="base.html"/>

<%namespace name="blocks" file="common/blocks.html"/>

<%def name="title()">${project.name}</%def>


<%def name="breadcrumbs(project)">
  <ol class="breadcrumb">
    <li>Creators</li>
    <li>
      <a href="${request.node_url(project.creator)}">
        ${project.creator.name}
      </a>
    </li>
  </ol>
</%def>


<section class="section-project">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        ${self.breadcrumbs(project)}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="pull-right">
          % if project.creator.location:
            <p>
              <i class="fa fa-map-marker"></i>&nbsp;
              ${project.creator.location}
            </p>
          % endif
          % for tag in list(project.tags)[:2]:
            % if tag.published:
              <p>
                <i class="fa fa-tag"></i>
                <a href="${request.node_url(tag)}">${tag.name}</a>
              </p>
            % endif
          % endfor
        </div>

        <h1>${project.name}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Home</a></li>
          <li>
            <a href="#">
              Updates
              ##<span class="badge">${len(project.published_updates)}</span>
            </a>
          </li>
          <li><a href="#">Backers</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        ${next.body()}
      </div>
      <div class="col-md-4">
        <div class="project-block">
          ## XXX
          <p>project metadata goes here</p>
        </div>

        <div class="project-block">
          ## XXX
          <p>pledge levels go here</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="project-block">
          <div class="pull-left">
            ${project.creator.img(request, 'creator-profile')}
          </div>

          <h4>${project.creator.name}</h4>
          <div class="creator-block-teaser">${project.creator.teaser}</div>
          <div class="creator-block-metadata">
            <i class="icon-map-marker"></i>&nbsp;${project.creator.location}
            % if project.creator.home_url:
              &nbsp;&middot;&nbsp;
              <a href="${project.creator.home_url}">${project.creator.display_url}</a>
            % endif
          </div>

          <hr>

          <p>Project owners go here...</p>

          ## XXX FIXME
          ##% if project.published_ownerships:
          ##  <div class="row">
          ##    <div class="span12">
          ##      <div class="creator-hr"><hr></div>
          ##    </div>
          ##    % for owner in project.published_ownerships:
          ##      <div class="span3">
          ##        <div class="project-owner">
          ##          ${h.image_or_gravatar(request, owner.account, 'project-avatar', default='mm', title=owner.account.name)}
          ##          <h4>${owner.account.name}</h4>
          ##          <p>${owner.title}</p>
          ##        </div>
          ##      </div>
          ##    % endfor
          ##  </div>
          ##% endif
        </div>
      </div>
    </div>
  </div>
</section>
