<%inherit file="base.html"/>

<%def name="title()">Security</%def>


<section class="section-security">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Security</h1>

        <h3>Contacting Us</h3>

        ## Include PGP key

        ## Include note that "we will never ask for your password" etc.

        <h3>Vulnerability Disclosure</h3>

        ## Notes on how to disclose vulnerabilities, bug bounties, etc.

        <h3>Technologies</h3>

        ## Include info on site standards, SSL configuration, HSTS, password storage.

      </div>
    </div>
  </div>
</section>
