<%inherit file="project_base.html"/>

<%page cached="True" cache_region="default" cache_key="project-${str(project.id)}-updates" />

<%def name="title()">Updates from ${project.name}</%def>


<%def name="additional_head()"></%def>


<div class="row">
  <div class="col-sm-8">
    <div class="project-block">
      % if not project.published_updates:
        <p>There are no updates at this time, check back soon.</p>
      % endif
      % for update in reversed(project.published_updates):
        ## XXX It shouldn't be necessary to check this, but there seems to be a SQLAlchemy bug (???) that's breaking the project.published_updates relationship.
        % if update.published and update.listed:
          % if not loop.first:
            <hr>
          % endif
          ${self.project_update(update)}
        % endif
      % endfor
    </div>
  </div>
  <div class="col-sm-4 project-sidebar">
    ${self.sidebar(project)}
  </div>
</div>
