<%inherit file="base.html" />

<%namespace name="forms" file="common/forms.html"/>
<%namespace name="blocks" file="common/blocks.html"/>


<%def name="title()">Update Payment Information</%def>


<section class="section-update-payment">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Update Payment Information</h1>

        <p>We've been trying to process the credit card payment for order <strong>${order.id}</strong>, but the payment has been rejected by your bank. In order to ship your pledge rewards, we'll need to process this payment.</p>

        <p>You can enter new payment information, or retry the transaction with the original payment information.</p>

        <p>If you have any questions please don't hesitate to <a href="${request.route_path('contact')}">contact us</a>.</p>

        ${renderer.begin(class_='form-horizontal form-wrapped', id='update-payment-form', method='POST')}

          <%forms:element renderer="${renderer}" name="cc.use_saved" label=" ">
            <label for="cc-use-saved-yes">
              ${renderer.radio('cc.use_saved', 'yes', checked=True, id='cc-use-saved-yes')}
              Retry card ending in ${masked_card}
            </label>
            <br>
            <label for="cc-use-saved-no">
              ${renderer.radio('cc.use_saved', 'no', checked=False, id='cc-use-saved-no')}
              Enter a new credit card
            </label>
          </%forms:element>

          <%forms:element renderer="${renderer}" name="cc.number" label="Card Number">
            <div class="row">
              <div class="col-sm-6">
                ${renderer.text('cc.number', class_='form-control js-ccfield')}
              </div>
              <div class="col-sm-6">
                ${blocks.credit_card_icons()}
              </div>
            </div>
          </%forms:element>

          <%forms:element renderer="${renderer}" names="${['cc.expires_month', 'cc.expires_year']}" label="Expiration">
            <div class="row">
              <div class="col-xs-6 col-sm-3">
                ${h.cc_expires_month_select(renderer, 'cc.expires_month', class_='form-control')}
              </div>
              <div class="col-xs-6 col-sm-3">
                ${h.cc_expires_year_select(renderer, 'cc.expires_year', class_='form-control')}
              </div>
            </div>
          </%forms:element>

          <%forms:element renderer="${renderer}" name="cc.code" label="CVV Code">
            <div class="row">
              <div class="col-sm-4 col-xs-9">
                ${renderer.text('cc.code', class_='form-control')}
              </div>
            </div>
          </%forms:element>

          ${forms.lcheckbox(renderer, 'cc.save', True, label='Save credit card information for future use')}

          ${forms.address_fields(renderer, 'cc.billing', order.active_payment_method.billing)}

          <%forms:actions>
            <button type="submit" class="btn btn-cta">Submit</button>
          </%forms:actions>
        ${renderer.end()}
      </div>
    </div>
  </div>
</section>
