@import "main";

.navbar-admin {
    background-color: @cs-admin-purple;
}

.navbar-admin-logo {
    // image path is relative to document, not this file
    .at2x('/_teal/images/admin/admin-icon.png', 26px, 26px);
    .image-replace;
    background-repeat: no-repeat;
    background-position: left center;
    width: 26px;
    height: 26px;
}
