// CS Colors
@cs-green:          #00b2ad;
@cs-dkgreen:        #1a5a68;
@cs-yellow:         #ffdc3d;
@cs-dark:			#192228;

// CS Fonts
@cs-sans-font-family: "pt-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@cs-serif-font-family: "kulturista-web", Georgia, Cambria, Times New Roman, Times, serif;
@cs-mono-font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
