// Bootstrap Override Colors -- ideally, make these go away.
@cs-bs-blue:                  #00b2ad; // originally #049cdb
@cs-bs-dkblue:                #1a5a68; // originally #0064cd
@cs-bs-green:                 #46a546;
@cs-bs-red:                   #fc5252; // originally #9d261d
@cs-bs-yellow:                #ffdc3d; // originally #ffc40d
@cs-bs-orange:                #f89406;
@cs-bs-pink:                  #c3325f;
@cs-bs-purple:                #7a43b6;

// CS colors
@cs-white:          #ffffff;
@cs-dark-grey:      #192228;
@cs-black:          #000000;
@cs-teal:           #00b2ad;
@cs-dark-teal:      #1a5a68;
@cs-yellow:         #ffdc3d;
@cs-offwhite:       #f7f9f9;
@cs-admin-purple:   #6f5499;

@cs-border-color:   #dddddd;

// CS Fonts
@cs-sans-font-family: "pt-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@cs-serif-font-family: "kulturista-web", Georgia, Cambria, Times New Roman, Times, serif;
@cs-mono-font-family: Monaco, Menlo, Consolas, "Courier New", monospace;

// Dimensions
@cs-logo-width: 218px;
@cs-logo-height: 26px;
