<tr>
  <td class="js-image-drag-handle table-drag-handle"></td>
  <td class="table-remove">
    <a class="js-image-remove" href="#">
      <i class="fa fa-minus-circle"></i>
    </a>
  </td>
  <td>
    <img src="<%= path %>" alt="">
  </td>
  <td>
    <%= name %><br>
    <%= width %> x <%= height %><br>
    <a href="<%= originalPath %>">View Original</a>
    <label>
      <input type="checkbox" name="images-<%= idx %>.published" checked>
      Published
    </label>
  </td>
  <td>
    <input type="hidden" name="images-<%= idx %>.name" value="<%= name %>">
    <input type="hidden" name="images-<%= idx %>.id" value="<%= id %>">
    <input type="hidden" name="images-<%= idx %>.gravity" class="js-image-gravity" value="<%= gravity %>">
    <label for="images-<%= idx %>-caption">Caption</label>
    <input type="text" id="images-<%= idx %>-caption" name="images-<%= idx %>.caption" class="form-control">
  </td>
  <td>
    <input type="text" name="images-<%= idx %>.title" class="form-control" placeholder="Title" value="<%= title %>">
    <input type="text" name="images-<%= idx %>.alt" class="form-control" placeholder="Alt" value="<%= alt %>">
  </td>
</tr>
