<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>
<%namespace name="widgets" file="/admin/common/widgets.html"/>

<%def name="title()">Edit Article ${obj.id}</%def>


<section class="section-admin-article">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        % if obj.published:
          <a class="pull-right" href="${request.node_path(obj)}">View Public Page</a>
        % endif

        <h1 class="page-header">${self.title()}</h1>

        ${renderer.begin(id='update-form', class_='form-horizontal form-wrapped js-ajax-validate')}
          ${forms.ltext(renderer, 'name', obj.name)}

          ${widgets.aliases(renderer, obj)}

          ${forms.ltextarea(renderer, 'teaser', obj.teaser, rows=3, hint='Optional summary.')}
          ${forms.ltextarea(renderer, 'keywords', obj.keywords, rows=3, hint='Included in a keywords meta tag and used for search.')}
          ${widgets.lcontent(renderer, 'body', obj.body)}

          ${forms.ltext(renderer, 'category', obj.category, hint='Group related articles by using the same category.')}
          ${forms.lcheckbox(renderer, 'show_heading', obj.show_heading, label='Show heading on article page.')}
          ${forms.lcheckbox(renderer, 'show_article_list', obj.show_article_list, label='Show list of related articles on article page.')}


          ${forms.lcheckbox(renderer, 'listed', obj.listed)}
          ${forms.lcheckbox(renderer, 'published', obj.published)}

          ${widgets.images(renderer, obj)}
          ${widgets.comments(renderer, obj)}

          <%forms:actions>
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-default" type="reset">Cancel</button>
            ${widgets.delete_button()}
          </%forms:actions>
        ${renderer.end()}

        ${widgets.delete_modal('article', request.route_path('admin:article:delete', id=obj.id))}
      </div>
    </div>
  </div>
</section>
