<%inherit file="base.html"/>

<%def name="title()">List Articles</%def>


<section class="section-admin-articles">
  <div class="container">
    <div class="row">
      <h1 class="page-header">Articles <small>${len(objs)} total</small></h1>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Published</th>
            <th>Listed</th>
          </tr>
        </thead>
        <tbody>
          % for article in objs:
            <tr>
              <td>
                <a href="${request.route_path('admin:article', id=article.id)}">Edit</a>
              </td>
              <td>${article.id}</td>
              <td>${article.name}</td>
              <td>
                % if article.published:
                  Yes
                % endif
              </td>
              <td>
                % if article.listed:
                  Yes
                % endif
              </td>
            </tr>
          % endfor
        </tbody>
      </table>
    </div>
  </div>
</section>
