<!DOCTYPE html>
<html>
<head>
  <title>${self.title()} | Crowd Supply Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="/_teal/images/favicon.ico">

  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  ${request.asset_tag('admin-less')}

  <script type="text/javascript" src="//use.typekit.net/yne8zlt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  ${self.additional_head()}
</head>
<body>
  ${self.admin_header()}
  ${next.body()}
  ${request.asset_tag('admin-js')}
  ${self.additional_footer()}
</body>
</html>


<%def name="title()"></%def>
<%def name="additional_head()"></%def>
<%def name="additional_footer()"></%def>


<%def name="admin_tab(label, path)">
  % if request.path.startswith(path):
    <li class="active"><a href="#">${label}</a></li>
  % else:
    <li><a href="${path}">${label}</a></li>
  % endif
</%def>


<%def name="admin_header()">
  <div class="navbar-cs-pad"></div>
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-cs navbar-admin">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-admin-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="${request.route_path('admin:dashboard')}">
          <span class="navbar-admin-logo">Admin</span>
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-admin-collapse">
        <ul class="nav navbar-nav">
          ${self.admin_tab('Dashboard', request.route_path('admin:dashboard'))}
          ${self.admin_tab('Content', request.route_path('admin:content'))}
          ${self.admin_tab('Orders', request.route_path('admin:orders'))}
          ${self.admin_tab('Vendor Orders', request.route_path('admin:vendor_orders'))}
          ${self.admin_tab('Users', request.route_path('admin:users'))}
          ${self.admin_tab('Leads', request.route_path('admin:leads'))}
        </ul>

        ${self.admin_account_menu()}

      </div>

    </div>
  </nav>
</%def>


<%def name="admin_account_menu()">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="${request.route_path('account')}" class="dropdown-toggle" data-toggle="dropdown">
        ${h.image_or_gravatar(request, request.user, 'header-avatar', default='mm', title=request.user.name, class_='img-avatar')}
      </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="${request.route_path('account')}">
            ${h.image_or_gravatar(request, request.user, 'header-avatar', default='mm', title=request.user.name, class_='visible-xs img-avatar')}
            My Account
          </a>
        </li>
        <li><a href="${request.route_path('admin:settings')}">Settings</a></li>
        <li class="divider"></li>
        <li><a href="${request.route_path('index')}">View Public Site</a></li>
        <li class="divider"></li>
        <li><a href="${request.route_path('logout')}">Sign Out</a></li>
      </ul>
    </li>
  </ul>
</%def>
