<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>
<%namespace name="widgets" file="/admin/common/widgets.html"/>

<%def name="title()">Edit Creator ${obj.id}</%def>


<section class="section-admin-creator">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="admin-header">
          <div class="admin-header-metadata">
            % if obj.published:
              <p><a href="${request.node_path(obj)}">View Public Page</a></p>
            % else:
              <p>Not Published</p>
            % endif
            ${widgets.updated_info(obj)}
          </div>
          <h1 class="page-header">${self.title()}</h1>
        </div>

        ${renderer.begin(id='update-form', class_='form-horizontal form-wrapped js-ajax-validate')}
          ${forms.ltext(renderer, 'name', obj.name)}

          ${widgets.aliases(renderer, obj)}

          ${forms.ltextarea(renderer, 'teaser', obj.teaser, rows=3, hint='Optional summary.')}
          ${forms.ltextarea(renderer, 'keywords', obj.keywords, rows=3, hint='Included in a keywords meta tag and used for search.')}
          ${widgets.lcontent(renderer, 'body', obj.body)}

          ${forms.ltext(renderer, 'home_url', obj.home_url, label='Homepage URL', hint='Enter a fully qualified URL, e.g. https://example.com/page')}
          ${forms.ltext(renderer, 'location', obj.location, label='Location', hint='Either city, state or city, country is generally preferred.')}

          ${forms.lcheckbox(renderer, 'listed', obj.listed)}
          ${forms.lcheckbox(renderer, 'published', obj.published)}

          ${widgets.images(renderer, obj)}
          ${widgets.comments(renderer, obj)}

          <%forms:actions>
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-default" type="reset">Cancel</button>
          </%forms:actions>
        ${renderer.end()}

        <h3>Projects</h3>
        % if obj.projects:
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Project ID</th>
                  <th>Name</th>
                  <th>Published</th>
                  <th>Start Date</th>
                </tr>
              </thead>
              <tbody>
                % for project in obj.projects:
                  <tr>
                    <td><a href="${request.route_path('admin:project', id=project.id)}">Edit</a></td>
                    <td>${project.id}</td>
                    <td>${project.name}</td>
                    <td>
                      % if project.published:
                        Yes
                      % endif
                    </td>
                    <td>${h.format_datetime(request, project.start_time)}</td>
                  </tr>
                % endfor
              </tbody>
            </table>
          </div>
        % else:
          <p>This creator has no projects.</p>
        % endif
      </div>
    </div>
  </div>
</section>
