<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>


<%def name="title()">New Discount</%def>


<section class="section-admin-new">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">${self.title()}</h1>

        ${renderer.begin(id='create-form', class_='form-horizontal form-wrapped')}

          ${forms.lselect(renderer, 'creator_id', None, getters.creators_for_select(), prompt='Select Creator', label='Creator')}
          ${forms.ltext(renderer, 'description')}

          <%forms:actions>
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn btn-default" href="${request.route_path('admin:vendors')}">Cancel</a>
          </%forms:actions>

        ${renderer.end()}

      </div>
    </div>
  </div>
</section>
