<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>
<%namespace name="widgets" file="common/widgets.html"/>


<%def name="title()">New Order</%def>


<section class="section-admin-new">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">${self.title()}</h1>

        ${renderer.begin(id='create-form', class_='form-horizontal form-wrapped')}
          <%forms:element renderer="${renderer}" name="user_id" label="User">
            ${widgets.user_picker(renderer, 'user_id')}
          </%forms:element>

          <%forms:actions>
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn btn-default" href="${request.route_path('admin:orders')}">Cancel</a>
          </%forms:actions>

        ${renderer.end()}

      </div>
    </div>
  </div>
</section>
