<%inherit file="base.html"/>

<%def name="title()">List Orders</%def>


<section class="section-admin-orders">
  <div class="container">
    <div class="row">
      <h1 class="page-header">Orders <small>${len(objs)} total</small></h1>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          % for order in objs:
            <tr>
              <td>
                <a href="${request.route_path('admin:order', id=order.id)}">Edit</a>
              </td>
              <td>${order.id}</td>
            </tr>
          % endfor
        </tbody>
      </table>
    </div>
  </div>
</section>
