<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>
<%namespace name="blocks" file="/common/blocks.html"/>

<%def name="title()">Prepare Invoice for ${obj.id}</%def>


<section class="section-admin-order">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">${self.title()}</h1>

        ${renderer.begin(id='update-form', class_='form-horizontal form-wrapped')}

          <%forms:element label="Items" hint="Select at least one item.">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Pack?</th>
                    <th>Qty</th>
                    <th>Item</th>
                  </tr>
                </thead>
                <tbody>
                  % for item in obj.cart.items:
                    % if not item.status.final:
                      <tr>
                        <td>
                          % if item.status.key == 'being packed':
                            ${renderer.checkbox('', value=True, checked=True, disabled=True)}
                            ${renderer.hidden('item_ids', value=item.id)}
                          % else:
                            ${renderer.checkbox('item_ids', value=item.id)}
                          % endif
                        </td>
                        <td>${item.qty_desired}</td>
                        <td>
                          <strong>${item.product.name}</strong><br>
                          ${item.product.project.name}<br>
                          ${blocks.option_value_list(item.sku)}
                        </td>
                      </tr>
                    % endif
                  % endfor
                </tbody>
              </table>
            </div>
          </%forms:element>

          <%forms:actions>
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-print"></i> Print
            </button>
            <a class="btn btn-default" href="${request.route_path('admin:order', id=obj.id)}">Cancel</a>
          </%forms:actions>
        ${renderer.end()}
      </div>
    </div>
  </div>
</section>
