<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>
<%namespace name="blocks" file="/common/blocks.html"/>
<%namespace name="widgets" file="common/widgets.html"/>

<%def name="title()">Edit Order ${obj.id}</%def>


<%def name="item_row(idx, item)">
  <tr>
    <td class="table-remove">
      <a href="${request.route_path('admin:order:remove-item', id=obj.id, item_id=item.id)}">
        <i class="fa fa-minus-circle"></i>
      </a>
    </td>
    <td>
      % if item.stage == item.CROWDFUNDING:
        <span class="label label-success">Crowdfunding</span>
      % elif item.stage == item.PREORDER:
        <span class="label label-info">Pre-Order</span>
      % else:
        <span class="label label-default">Stock</span>
      % endif
      <br>
      <strong>${item.product.name}</strong><br>
      <a href="${request.route_path('admin:project', id=item.product.project.id)}">${item.product.project.name}</a>
      ${blocks.option_value_list(item.sku)}
    </td>
    <td>
      ${item.status}<br>
      SKU: ${item.sku.id}<br>
      Reserved: ${item.qty_reserved}<br>
      Original Delivery: ${item.expected_ship_time}<br>
      % if item.batch:
        Current: ${item.batch.ship_time}<br>
      % endif
      % if item.shipment:
        Shipment ${item.shipment.id}
      % else:
        No shipment
      % endif
    </td>
    <td style="width:125px">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        ${renderer.text('items-%d.price_each' % idx, item.price_each, class_='form-control')}
      </div>
    </td>
    <td style="width:80px">
      ${renderer.hidden('items-%d.id' % idx, item.id)}
      ${renderer.text('items-%d.qty_desired' % idx, item.qty_desired, class_='form-control', type='number')}
    </td>
    <td style="width:125px">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        ${renderer.text('items-%d.shipping_price' % idx, item.shipping_price, class_='form-control')}
      </div>
    </td>
    <td>${h.currency(item.total)}</td>
  </tr>
</%def>


<%def name="payment_description(payment)">
  % if payment.discriminator == 'cc':
    Transaction ${payment.transaction_id}
    % if not payment.captured_time:
      - Authorized for ${h.currency(payment.authorized_amount)} on ${h.format_datetime(request, payment.created_time)}
    % else:
      - Captured on ${h.format_datetime(request, payment.captured_time)}
    % endif
  % elif payment.discriminator == 'cash':
    Cash
  % elif payment.discriminator == 'chck':
    Check ${payment.reference}
  % elif payment.discriminator == 'gift':
    Gift Code <a href="${request.admin_url(payment.gift_code)}">${payment.gift_code.code}</a>
  % elif payment.discriminator == 'carf':
    Cash Refund
    % if payment.comments:
      ${payment.comments}
    % endif
  % elif payment.discriminator == 'chrf':
    Check Refund - Reference: ${payment.reference}
    % if payment.comments:
      ${payment.comments}
    % endif
  % elif payment.discriminator == 'ccrf':
    % if not payment.processed_time and payment.pending_action == 'rfnd' and payment.valid:
      <span class='label label-info'>Refund Pending</span>
    % endif
    Refund: Credit Card
    % if payment.credit_card_payment:
      (Transaction ${payment.credit_card_payment.transaction_id})
    % endif
    - ${payment.comments}
  % endif
</%def>


<%def name="payment_row(payment)">
  <tr>
    <td></td>
    <td>
      % if payment.discriminator == 'cc':
        Method ${payment.method.id} - ${payment.method.reference['customer_id']}<br>
        ${blocks.address(payment.method.billing)}
      % endif
    </td>
    <td colspan="4">
      ${self.payment_description(payment)}<br>
      % if payment.discriminator == 'cc':
        Descriptor: <code>${payment.descriptor}</code><br>
        CCV: ${payment.ccv_result} - AVS Address: ${payment.avs_address1_result} - AVS Zip: ${payment.avs_zip_result}<br>
        % if payment.captured_time:
          <strong>Captured ${h.format_datetime(request, payment.captured_time)}</strong>
        % elif payment.voided_time:
          <strong>Voided ${h.format_datetime(request, payment.voided_time)}</strong>
        % elif payment.expired:
          <strong>Expired</strong>
        % else:
          <strong>Not Captured</strong>
        % endif
        % if payment.can_be_captured():
          <a href="${request.route_path('admin:payment:capture', id=payment.id)}" class="btn btn-default btn-xs">Capture</a>
          <a href="${request.route_path('admin:payment:mark-expired', id=payment.id)}" class="btn btn-default btn-xs">Mark Expired</a>
        % endif
        % if payment.can_be_voided():
          <a href="${request.route_path('admin:payment:void', id=payment.id)}" class="btn btn-primary btn-xs">Void</a>
        % endif
        % if payment.captured_time:
          % if payment.can_be_refunded():
            <a href="${request.route_path('admin:payment:refund', id=payment.id)}" class="btn btn-default btn-xs">Refund</a>
          % endif
          % if payment.chargeback_time:
            <a href="${request.route_path('admin:payment:mark-chargeback-won', id=payment.id)}" class="btn btn-default btn-xs">Mark Chargeback Won</a>
            <a href="${request.route_path('admin:payment:mark-chargeback-lost', id=payment.id)}" class="btn btn-default btn-xs">Mark Chargeback Lost</a>
          % else:
            <a href="${request.route_path('admin:payment:mark-chargeback', id=payment.id)}" class="btn btn-default btn-xs">Mark Chargeback</a>
          % endif
        % endif
      % endif
    </td>
    <td>
      % if payment.amount >= 0:
        ${h.currency(payment.amount)}
      % else:
        (${h.currency(-payment.amount)})
      % endif
    </td>
  </tr>
</%def>


<section class="section-admin-order">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="admin-header">
          <div class="admin-header-metadata">
            ${widgets.updated_info(obj)}
          </div>
          <h1 class="page-header">
            ${self.title()}
            % if obj.closed:
              <span class="label label-success">Closed</span>
            % else:
              <span class="label label-danger">Open</span>
            % endif
          </h1>
        </div>

        <div class="well">
          % if (obj.authorized_amount >= obj.current_due_amount) and (not obj.closed):
            <a class="btn btn-primary" href="${request.route_path('admin:order:prepare-invoice', id=obj.id)}">
              <i class="fa fa-print"></i>
              Print Invoice
            </a>
          % endif
          <a class="btn btn-primary" href="${request.route_path('admin:order:resend-confirmation', id=obj.id)}">Resend Order Confirmation</a>

          % if any(item.status.key == 'shipped' for item in obj.cart.items):
            <a class="btn btn-primary" href="${request.route_path('admin:order:resend-shipping-confirmation', id=obj.id)}">Resend Shipping Confirmation</a>
          % endif

          % if not obj.closed:
            <a class="btn btn-danger" href="${request.route_path('admin:order:cancel', id=obj.id)}">Cancel Order</a>
            % if (obj.authorized_amount >= obj.current_due_amount) and any(ci.status.key == 'being packed' for ci in obj.cart.items):
              <a class="btn btn-default" href="${request.route_path('admin:order:fill', id=obj.id)}">Fill Order</a>
            % endif
          % endif

          % if obj.unpaid_amount:
            <a class="btn btn-default" href="${request.route_path('admin:order:send-update-payment', id=obj.id)}">Send Update Payment Email</a>
          % endif

          % if any(item.status.key == 'payment failed' for item in obj.cart.items):
            <a class="btn btn-default" href="${request.route_path('admin:order:abandon', id=obj.id)}">Abandon Payment</a>
          % endif
        </div>

        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <h4>Shipping Address</h4>
              <p>${blocks.address(obj.shipping)}</p>
              <p><a href="${request.route_path('admin:order:address', id=obj.id)}">Change Address</a></p>
            </div>
            <div class="col-sm-4">
              <h4>User</h4>
              <p>
                <a href="${request.route_path('admin:user', id=obj.user.id)}">
                  ${obj.user.id}
                </a>
                - ${obj.user.name}
                - ${obj.user.email}
              </p>
              <p><a href="${request.route_path('admin:order:user', id=obj.id)}">Change User</a></p>
              <h4>Initial Payment Method</h4>
              % if obj.active_payment_method:
                <p>${obj.active_payment_method.id} - ${obj.active_payment_method.reference['customer_id']}</p>
              % else:
                <p>None</p>
              % endif
            </div>
            <div class="col-sm-4">
              <h4>Customer Comments</h4>
              <p>${obj.customer_comments or 'None'}</p>
            </div>
          </div>
        </div>

        % if obj.shipments:
          <div class="well">
            % for shipment in obj.shipments:
              <h5>Shipment ${shipment.id} - ${shipment.tracking_number or 'No Tracking'}</h5>
              <ul>
                % for item in shipment.items:
                  <li>${item.id} - ${item.product.name}</li>
                % endfor
              </ul>
            % endfor
          </div>
        % endif

        ${renderer.begin(id='update-form', class_='form-horizontal form-wrapped js-ajax-validate')}

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Description</th>
                <th>Status</th>
                <th>Price Each</th>
                <th>Qty</th>
                <th>Shipping Price</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              % for item in obj.cart.items:
                ${self.item_row(loop.index, item)}
              % endfor
            </tbody>
            <tbody>
              <tr>
                <td class="table-add">
                  <a href="${request.route_path('admin:order:add-item', id=obj.id)}">
                    <i class="fa fa-plus-circle"></i>
                  </a>
                </td>
                <td colspan="4">
                  <a href="${request.route_path('admin:order:add-item', id=obj.id)}">Add Item</a>
                </td>
                <td class="text-right"><strong>Total Amount</strong></td>
                <td>${h.currency(obj.total_amount)}</td>
              </tr>

              <tr>
                <td colspan="6" class="text-right">Current Confirmed Amount</td>
                <td>${h.currency(obj.current_due_amount)}</td>
              </tr>
            </tbody>
            <tbody>
              % for payment in obj.payments:
                ${self.payment_row(payment)}
              % endfor
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td colspan="4">
                  Add Payment:
                  <a href="${request.route_path('admin:order:payment-cc-new', id=obj.id)}">New Credit Card</a> -
                  <a href="${request.route_path('admin:order:payment-cc-existing', id=obj.id)}">Existing Credit Card</a> -
                  <a href="${request.route_path('admin:order:payment-cash', id=obj.id)}">Cash</a> -
                  <a href="${request.route_path('admin:order:payment-check', id=obj.id)}">Check</a>
                  <br>
                  Add Refund: <a href="${request.route_path('admin:order:refund-cash', id=obj.id)}">Cash</a> -
                  <a href="${request.route_path('admin:order:refund-check', id=obj.id)}">Check</a>
                </td>
                <td class="text-right"><strong>Paid Amount</strong></td>
                <td>${h.currency(obj.paid_amount)}</td>
              </tr>

              % if obj.paid_amount > obj.current_due_amount:
                <tr>
                  <td colspan="6" class="text-right"><strong>Currently Overpaid By</strong></td>
                  <td><strong>${h.currency(obj.paid_amount - obj.current_due_amount)}</strong></td>
                </tr>
              % elif obj.paid_amount < obj.current_due_amount:
                <tr>
                  <td colspan="6" class="text-right"><strong>Additional Payment Required</strong></td>
                  <td><strong>${h.currency(obj.current_due_amount - obj.paid_amount)}</strong></td>
                </tr>
              % endif
            </tfoot>
          </table>

          ${widgets.comments(renderer, obj)}

          <%forms:actions>
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-default" type="reset">Cancel</button>
          </%forms:actions>
        ${renderer.end()}
      </div>
    </div>
  </div>
</section>
