<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>

<%def name="title()">Capture Credit Card Payment ${payment.id}</%def>


<section class="section-admin-capture-payment">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">${self.title()}</h1>

        ${renderer.begin(id='update-form', class_='form-horizontal form-wrapped')}
          ${forms.ltext(renderer, 'amount', payment.authorized_amount, prefix='$', hint='Maximum capture amount of %s.' % h.currency(payment.authorized_amount))}

          <%forms:actions>
            <button class="btn btn-primary" type="submit">Capture</button>
            <a class="btn btn-default" href="${request.route_path('admin:order', id=payment.order_id)}">Cancel</a>
          </%forms:actions>
        ${renderer.end()}
      </div>
    </div>
  </div>
</section>
