<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>

<%def name="title()">Refund Credit Card Payment ${payment.id}</%def>


<section class="section-admin-refund-payment">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">${self.title()}</h1>
        <p>Transaction ${payment.transaction_id} - <code>${payment.descriptor}</code></p>

        ${renderer.begin(id='update-form', class_='form-horizontal form-wrapped')}
          ${forms.ltext(renderer, 'amount', 0, prefix='$', hint='Maximum refund of %s.' % h.currency(payment.refundable_amount))}

          <%forms:actions>
            <button class="btn btn-primary" type="submit">Refund</button>
            <a class="btn btn-default" href="${request.route_path('admin:order', id=payment.order_id)}">Cancel</a>
          </%forms:actions>
        ${renderer.end()}
      </div>
    </div>
  </div>
</section>
