<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>
<%namespace name="widgets" file="/admin/common/widgets.html"/>
<%namespace name="project_header" file="/admin/common/project_header.html"/>

<%def name="title()">Add Owner to Project ${obj.id}</%def>


${project_header.project_header(obj)}


<section class="section-admin-project">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Add Project Owner</h1>

        ${renderer.begin(id='create-form', class_='form-horizontal form-wrapped')}
          ${forms.ltext(renderer, 'user_id')}

          <%forms:actions>
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn btn-default" href="${request.route_path('admin:project:owners', id=obj.id)}">Cancel</a>
          </%forms:actions>

        ${renderer.end()}

      </div>
    </div>
  </div>
</section>
