<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>
<%namespace name="widgets" file="/admin/common/widgets.html"/>
<%namespace name="project_header" file="/admin/common/project_header.html"/>

<%def name="title()">Edit Project ${obj.id}</%def>


${project_header.project_header(obj)}


<section class="section-admin-project">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>User</th>
                <th>Title</th>
                <th>Change Content</th>
                <th>Manage Payment</th>
                <th>Post Updates</th>
                <th>Receive Questions</th>
                <th>Manage Owners</th>
                <th>Show on Campaign</th>
              </tr>
            </thead>
            <tbody>
              % for ownership in obj.ownerships:
                <tr>
                  <td>remove</td>
                  <td>${ownership.user.name}</td>
                  <td>${ownership.title}</td>
                  <td>${ownership.can_change_content}</td>
                  <td>${ownership.can_manage_payments}</td>
                  <td>${ownership.can_post_updates}</td>
                  <td>${ownership.can_receive_questions}</td>
                  <td>${ownership.can_manage_owners}</td>
                  <td>${ownership.show_on_campaign}</td>
                </tr>
              % endfor
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
