<%inherit file="base.html"/>

<%def name="title()">List Projects</%def>


<section class="section-admin-projects">
  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          % for project in projects:
            <tr>
              <td>
                <a href="${request.route_path('admin:project', id=project.id)}">Edit</a>
              </td>
              <td>${project.id}</td>
              <td>${project.name}</td>
            </tr>
          % endfor
        </tbody>
      </table>
    </div>
  </div>
</section>
