<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>
<%namespace name="widgets" file="/admin/common/widgets.html"/>
<%namespace name="project_header" file="/admin/common/project_header.html"/>

<%def name="title()">Products for Project ${obj.id}</%def>


${project_header.project_header(obj)}


<section class="section-admin-project">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Published</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              % for product in obj.levels:
                <tr>
                  <td>${product.name}</td>
                  <td>
                    % if product.published:
                      Yes
                    % endif
                  </td>
                  <td>${h.currency(product.price)}</td>
                </tr>
              % endfor
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
