<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>
<%namespace name="widgets" file="/admin/common/widgets.html"/>
<%namespace name="project_header" file="/admin/common/project_header.html"/>

<%def name="title()">Ship Project ${obj.id}</%def>


${project_header.project_header(obj)}


<section class="section-admin-project">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Shipping Tools</h1>

        <p>WIP</p>

      </div>
    </div>
  </div>
</section>
