<%inherit file="base.html"/>

<%def name="title()">List Provider Type</%def>


<section class="section-admin-provider-types">
  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          % for provider_type in provider_types:
            <tr>
              <td>
                <a href="${request.route_path('admin:provider_type', id=provider_type.id)}">Edit</a>
              </td>
              <td>${provider_type.id}</td>
              <td>${provider_type.name}</td>
            </tr>
          % endfor
        </tbody>
      </table>
    </div>
  </div>
</section>
