<%inherit file="base.html"/>

<%def name="title()">List Provider Type</%def>


<section class="section-admin-provider-types">
  <div class="container">
    <div class="row">
      <h1 class="page-header">Provider Types <small>${len(objs)} total</small></h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Name</th>
              <th>Published</th>
              <th>Listed</th>
            </tr>
          </thead>
          <tbody>
            % for provider_type in objs:
              <tr>
                <td>
                  <a href="${request.route_path('admin:provider_type', id=provider_type.id)}">Edit</a>
                </td>
                <td>${provider_type.id}</td>
                <td>${provider_type.name}</td>
                <td>
                  % if provider_type.published:
                    Yes
                  % endif
                </td>
                <td>
                  % if provider_type.listed:
                    Yes
                  % endif
                </td>
              </tr>
            % endfor
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
