<%inherit file="base.html"/>

<%def name="title()">Reports</%def>


<section class="section-admin-reports">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="page-header">Reports</h1>

        <h3>Performance</h3>

        <p><a href="#">Sales</a></p>
        <p><a href="#">Project Launches</a></p>
        <p><a href="#">User Behavior</a></p>

        <h3>Accounting</h3>

        <p><a href="#">Revenue</a></p>
        <p><a href="#">COGS</a></p>
        <p><a href="#">Cashflow</a></p>
        <p><a href="#">Inventory</a></p>
        <p><a href="#">Payments</a></p>

        <h3>Operations</h3>

        <p><a href="#">Warehouse Transactions</a></p>
        <p><a href="#">Delays</a></p>

      </div>
    </div>
  </div>
</section>
