<div class="form-group">
  <label class="control-label col-sm-3" for="option-<%= option.id %>"><%= option.name %></label>
  <div class="col-sm-9">
    <select name="options" class="form-control">
      <%
        var val;
        for(var ii = 0; ii < option.values.length; ii++) {
          val = option.values[ii];
          if(val.id === option.default_value_id) {
            print('<option selected value="' + val.id + '">' + val.description + '</option>');
          } else {
            print('<option value="' + val.id + '">' + val.description + '</option>');
          }
        }
      %>
    </select>
  </div>
</div>
