<tr>
  <td><i class="fa fa-minus"></i></td>
  <td><strong>Unsaved</strong></td>
  <td>
    <%= name %><br>
    <label>
      <input type="checkbox" name="images-<%= idx %>.published" checked>
      Published
    </label>
  </td>
  <td>
    <input type="hidden" name="images-<%= idx %>.fresh" value="1">
    <input type="hidden" name="images-<%= idx %>.id" value="<%= id %>">
    <input type="hidden" name="images-<%= idx %>.gravity" value="<%= gravity %>">
    <label for="images-<%= idx %>-caption">Caption</label>
    <input type="text" id="images-<%= idx %>-caption" name="images-<%= idx %>.caption" class="form-control">
  </td>
  <td>
    <input type="text" name="images-<%= idx %>.image_title" class="form-control" placeholder="Title">
    <input type="text" name="images-<%= idx %>.image_alt" class="form-control" placeholder="Alt">
  </td>
</tr>
