<%def name="numeric_fact(amount, label, format)">
  <div class="fact ${'fact-micro' if amount > 1000000 else 'fact-small' if amount > 100000 else ''} col-xs-4">
    % if format == '$':
      <p><sup>$</sup>${h.commas(amount)}</p>
    % elif format == '%':
      <p>${h.format_percent(amount)}<sup>%</sup></p>
    % else:
      <p>${h.commas(amount)}</p>
    % endif
    <span>${label}</span>
  </div>
</%def>

<%def name="project_metadata(project)">
  <div class="stats stats-project">
    <div class="progress">
      <div class="progress-bar" style="width:${project.progress_percent}%"></div>
    </div>
    <div class="factoids row">
      ${self.numeric_fact(project.pledged_amount, 'raised', '$')}
      ${self.numeric_fact(project.progress_percent, 'funded', '%')}
      <div class="fact col-xs-4" data-countdown-to="${project.end_time.isoformat()}">
        <%
          val, units = project.remaining
        %>
        <p>${val}</p>
        <span>${units} left</span>
      </div>
    </div>
  </div>
</%def>


<%def name="suspended_metadata(project)">
  <div class="stats stats-suspended">
    <div class="status-bar status-bar-danger">
      <div class="status-bar-left">Campaign Suspended</div>
    </div>
    <div class="factoids row">
      ${self.numeric_fact(project.pledged_amount, 'raised', '$')}
      ${self.numeric_fact(project.progress_percent, 'funded', '%')}
      <div class="fact col-xs-4">
        <p>${h.format_datetime(request, project.suspended_time, '%b %d')}</p>
        <span>suspended</span>
      </div>
    </div>
  </div>
</%def>


<%def name="failed_metadata(project)">
  <div class="stats stats-failed">
    <div class="status-bar status-bar-light">
      <div class="status-bar-left">Funding Unsuccessful</div>
    </div>
    <div class="factoids row">
      ${self.numeric_fact(project.pledged_amount, 'raised', '$')}
      ${self.numeric_fact(project.progress_percent, 'funded', '%')}
      <div class="fact col-xs-4">
        <p>${h.format_datetime(request, project.end_time, '%b %d')}</p>
        <span>ended</span>
      </div>
    </div>
  </div>
</%def>


<%def name="prelaunch_metadata(project)">
  <div class="stats stats-prelaunch">
    <div class="status-bar status-bar-light">
      <div class="status-bar-left">Coming Soon</div>
      <div class="status-bar-right">Signup For Updates</div>
    </div>
  </div>
</%def>


<%def name="archive_metadata(project)">
  <div class="stats stats-pre-order">
    <div class="status-bar status-bar-primary">
      <div class="status-bar-left">Funded!</div>
      <div class="status-bar-right">No Longer Available</div>
    </div>
    <div class="factoids row">
      ${self.numeric_fact(project.pledged_amount, 'raised', '$')}
      ${self.numeric_fact(project.progress_percent, 'funded', '%')}
      <div class="fact col-xs-4">
        <p>${h.commas(project.num_pledges)}</p>
        <span>pledges</span>
      </div>
    </div>
  </div>
</%def>


<%def name="available_metadata(project)">
  <div class="stats stats-pre-order clearfix">
    <div class="status-bar status-bar-primary">
      <div class="status-bar-left">Funded!</div>
      <div class="status-bar-right">Order Now</div>
    </div>
    <div class="factoids row">
      ${self.numeric_fact(project.pledged_amount, 'raised', '$')}
      ${self.numeric_fact(project.progress_percent, 'funded', '%')}
      <div class="fact col-xs-4">
        <p>${h.commas(project.num_pledges)}</p>
        <span>pledges</span>
      </div>
    </div>
  </div>
</%def>


<%def name="metadata(project, cols=3)">
  <%
    # Never show a full width tile
    width = 12 / cols

    utcnow = h.datetime.utcnow()
  %>
  <div class="col-sm-12 col-md-${width} stats-tile">
    ${self.metadata_inline(project)}
  </div>
</%def>


<%def name="metadata_inline(project)">
  % if project.status == 'crowdfunding':
    ${self.project_metadata(project)}
  % elif project.status == 'suspended':
    ${self.suspended_metadata(project)}
  % elif project.status == 'archive':
    ${self.archive_metadata(project)}
  % elif project.status == 'prelaunch':
    ${self.prelaunch_metadata(project)}
  % elif project.status == 'available':
    ${self.available_metadata(project)}
  % elif project.status == 'failed':
    ${self.failed_metadata(project)}
  % endif
</%def>


<%def name="tile(project, cols=3)">
  <%
    # Never show a full width tile
    width = 12 / cols

    utcnow = h.datetime.utcnow()
  %>
  <div class="col-sm-12 col-md-${width}">
    <a href="${request.node_url(project)}" class="project-tile">
      <!-- project status is ${project.status} -->
      ${project.img(request, 'project-tile')}
      <div class="project-tile-overview">
        % if project.status == 'prelaunch':
          <h3>${project.name}</h3>
          <p>This project is launching soon. Click for more information or to enter your email address for news &amp; updates.</p>
        % else:
          <h3>${project.name}</h3>
          <p>${project.teaser}</p>
        % endif
      </div>

      <div class="${'' if cols == 1 else 'visible-xs visible-sm'}">
        ${self.metadata_inline(project)}
      </div>
    </a>
  </div>
</%def>


<%def name="tile_row(projects, cols=None)">
  <div class="project-row">
    <!-- Background row -->
    <div class="background-row hidden-xs hidden-sm">
      <div class="row">
        <%
          if not cols:
            cols = len(projects)
            cols = 3 if cols < 2 else cols
          width = 12 / cols
        %>
        % for project in projects:
          <div class="col-sm-12 col-md-${width}">
            <a href="${request.node_url(project)}">
              <div class="background-filler">
              </div>
            </a>
          </div>
        % endfor
      </div>
    </div>

    <!-- Project tile -->
    <div class="row">
    % for project in projects:
      ${self.tile(project, cols)}
    % endfor
    </div>
  </div>

  <!-- Metadata row -->
  <div class="row metadata-row hidden-xs hidden-sm">
    % for project in projects:
      <a href="${request.node_url(project)}">
        ${self.metadata(project, cols)}
      </a>
    % endfor
  </div>
</%def>
