#############################################################################
# File templated by Ansible
# Base template: {{ template_path }}
# User: {{ template_uid }} on {{ template_host }}
#############################################################################

script.disable_dynamic: true

network.host: 127.0.0.1
